<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>遇見屏東</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/dashborad.css" rel="stylesheet">
		
		
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">遇見屏東</a>
				</div>
				
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">自然<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
							<li class="active"><a href="linhou.html">林後四林平地森林園區</a></li>
							<li><a href="kendingpark.html">墾丁國家公園</a></li>
							<li><a href="dapengwan.html">大鵬灣國家風景區</a></li>
							</ul>
						</li>
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">漫遊<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
							<li><a href="kendingstreet.html">墾丁大街</a></li>
							<li><a href="shanchuan.html">山川琉璃吊橋</a></li>
							<li><a href="xiaoliuqiu.html">小琉球</a></li>
							</ul>
						</li>
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">人文<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
							<li><a href="liudui.html">六堆客家文化園區</a></li>
							<li><a href="local.html">台灣原住民族文化園區</a></li>
							<li><a href="wanjin.html">萬金聖母聖殿</a></li>
							</ul>
						</li>
					</ul>
				</div>
				
				
			</div>
		</nav>
		
		<div class="container">
			<div class="row">
				<div class="main">
					
						<h3>林後四林平地森林園區</h3>
						<hr>
						<div id="myCarousel" class="carousel slide">
						<!-- 轮播（Carousel）指标 -->
						<!-- 轮播（Carousel）项目 -->
						<div class="carousel-inner">
							<div class="item active">
							<img src="images\linhou\01.jpg" alt="First slide" style=width:100%>
							<center><input type ="button" class="btn btn-success" onclick="javascript:location.href='#'" value="旅遊資訊" style="width:180px;height:60px;font-size:20px;"></input></center>
							</div>
							<div class="item">
							<img src="images\linhou\02.jpg" alt="Second slide" style=width:100%>
							<center><input type ="button" class="btn btn-success" onclick="javascript:location.href='#'" value="旅遊資訊" style="width:180px;height:60px;font-size:20px;"></input></center>
							</div>
							<div class="item">
							<img src="images\linhou\03.jpg" alt="Third slide" style=width:100%>
							<center><input type ="button" class="btn btn-success" onclick="javascript:location.href='#'" value="旅遊資訊" style="width:180px;height:60px;font-size:20px;"></input></center>
							</div>
						</div>
						<!-- 轮播（Carousel）导航 -->
							<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
							<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
						</div>
						
				</div>
			</div>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"> </script>
		<script src="js/bootstrap.min.js"></script>	
		<script src="js/jquery.min.js"></script>
	</body>
</html>
